<div class="container">
  <div class="card"  *ngFor="let heroes of HeroD; let i = index">
    <div class="card-body">
      <table class="table table-hover" align="center" >
        <thead class="" >
        <tr>
          <th class="clickSort" scope="col" (click)="sortBy('id'  , heroes)  "><span>ID   <span>&#8693;</span></span></th>
          <th class="clickSort" scope="col" (click)="sortBy('name', heroes)  "><span>Heroes Name <span>&#8693;</span></span></th>
          <th class="clickSort" scope="col" (click)="sortBy('str' , heroes)  "><span>Str  <span>&#8693;</span></span></th>
          <th class="clickSort" scope="col" (click)="sortBy('ag'  , heroes)  "><span>Ag   <span>&#8693;</span></span></th>
          <th class="clickSort" scope="col" (click)="sortBy('int' , heroes)  "><span>Int  <span>&#8693;</span></span></th>
        </tr>
        </thead>
        <tr routerLink="/HeroInfo/{{i + 1}}/{{hero.id}}" class="clickSort" id="sHeroD" *ngFor="let hero of heroes | filter : Swords ">
          <td>{{hero.id}}</td>
          <td class="HeroesInfo " (click)="HeroInfo()">{{hero.name}}</td>
          <td>{{hero.str}}</td>
          <td>{{hero.ag }}</td>
          <td>{{hero.int}}</td>
        </tr>
      </table>
      <p class="p-2">Table {{i + 1}}</p>
    </div>
  </div>
</div>




