<link href="https://fonts.googleapis.com/css?family=Unica+One" rel="stylesheet">
<nav class="customNav ">
  <div class="cusDiv">
    <a routerLink="/home" class="Hero_a" >H E R O E S</a>
    <a class="inlineDisp">
      <ul class="customUList">
        <li class="customList">
          <a routerLink="/Statistic"class="customList" href="#">Heroes Statistics</a>
        </li>
        <li class="customList">
          <a routerLink="/content-area" class="customList" href="#">Heroes List </a>
        </li>
      </ul>
      <img align="right" class="blendMode" src="https://res.cloudinary.com/teepublic/image/private/s--QQXA_vAa--/t_Resized%20Artwork/c_fit,g_north_west,h_954,w_954/co_ffffff,e_outline:48/co_ffffff,e_outline:inner_fill:48/co_ffffff,e_outline:48/co_ffffff,e_outline:inner_fill:48/co_bbbbbb,e_outline:3:1000/c_mpad,g_center,h_1260,w_1260/b_rgb:eeeeee/c_limit,f_jpg,h_630,q_90,w_630/v1535648486/production/designs/3087384_0.jpg" alt="https://res.cloudinary.com">
    </a>
  </div>
</nav>


